## Developed by: Scott Selberg
## Leveraging code from : David Simpson
## Date created: 02/02/2015
 
#if( $filename )
<video
    #if ($addControls) controls="controls"  #end
    #if ($autoplay)    autoplay="autoplay"  #end
    #if ($loop)        loop="loop"          #end
    #if ($width)       width="$width"       #end
    #if ($height)      height="$height"     #end
    #if ($poster)      poster="$poster"     #end
>
    <source type="video/$fileextension" src="$url" />
    <object type="application/x-shockwave-flash" data="http://releases.flowplayer.org/swf/flowplayer-3.2.1.swf"
        #if ($width)  width="$width"   #else width="640"  #end
        #if ($height) height="$height" #else height="360" #end
        >
        <param name="movie" value="http://releases.flowplayer.org/swf/flowplayer-3.2.1.swf" />
        <param name="allowFullScreen" value="true" />
        <param name="wmode" value="transparent" />
        <param name="flashVars" value="config={'playlist':[{'url':'$generalUtil.urlEncode("$action.getGlobalSettings().getBaseUrl()$url")','autoPlay':false}]}" />
        <span title="No video playback capabilities, please download the video from the page attachments"></span>
    </object>
</video>
#if( $addDownloadLink ) <p class="html5-multimedia html5-video"><a href="$url">Download $filename</a></p> #end
#else
<p>No attachment specified</p>
#end
